.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
.introducao-bg {
  box-shadow: 0 20px 20px #a4d3e2;
}

.introducao img {
  height: 100%;
  object-fit: cover;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 80px;
}

.introducao h1 {
  margin-bottom: 32px;
}
.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 64px;
  }
  .introducao p {
    font-size: 28px;
  }
}
@media (max-width: 800px) {
  .introducao-bg {
    padding-top: 40px;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao h1 {
    font-size: 42px;
    margin-bottom: 16px;
  }
  .introducao p {
    font-size: 28px;
  }
  .introducao img {
    height: 400px;
    width: 100%;
  }
}
@media (max-width: 620px) {
  .introducao h1 {
    font-size: 54px;
  }
  .introducao p {
    font-size: 22px;
  }
}
